.main-component {

    justify-content: center;
    display: inline-block;
    width: 75%;
}

.parent-column{
    margin: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    background-color: #151A1D;

}

.column1{
    display: inline-block;
    width: 15%;
    margin-top: 50px;
    text-align: center;

}

.download-cv {
    margin-top : 40px;
}

.column3{
    display: inline-block;
    width: 15%;
    margin-top: 50px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}


/* img {
    height: 40px;
} */

.profile-summary {
    flex-wrap: nowrap;
    height: 85vh;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: large;
}
.profile-picture-name-designation-section {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.profile-picture-section {
    margin: 0 50px;
    flex-grow: 1;
    flex-shrink: 3;
}

.profile-name-designation-section {
    flex-grow: 8;
    flex-direction: column;
    position: relative;
}
.profile-name-section {
    margin-top: 100px;
    flex-grow: 2;
    height: 25%;
    color: beige;
    font-size: 80px;
    /* position: absolute;
    bottom: 0;
    left: 0; */
}

.profile-designation-section {
    flex-grow: 2;
    height: 15%;
    color: white;
    font-size: 30px;
    /* position: absolute;
    bottom: 0;
    left: 0; */
}

.profile-brief-section {
    width: 60%;;
    color: #58585f;
    font-size: x-large;
}


.profile-picture {
    margin-top: 90px;
    border-radius: 5000px;
    height: 30vh !important;
    border: 1px solid aqua;

}
.profile-picture:hover { border : 2px solid aqua }

@media all and (max-width : 800px) {
    .profile-summary {
        margin-top: 10px;
        font-size: small;
        padding: 0 10px 0 10px;

    }
    /* .h3{
        font-size: small;
    } */
    .profile-picture{
        display: none;
        height: 30vh !important;
        border-radius: 2000px;
        margin-bottom: 5px;
    }
    .body {
        /* font-size: small; */
    }
}