.main-component {

    justify-content: center;
    display: inline-block;
    width: 70%;
    text-align: center;
}

.parent-column{
    margin: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    /* background-color: #88F9FC; */
    /* background-size: 100px; */
    /* background-image: url('../../images/ld.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-size: 2000px 350px; */
}

.column1{
    display: inline-block;
    width: 15%;
    margin-top: 50px;
    text-align: center;

}

.download-cv {
    margin-top : 40px;
}

.column3{
    display: inline-block;
    width: 15%;
    margin-top: 50px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}


/* img {
    height: 40px;
} */

.profile-summary {
    flex-wrap: nowrap;
    height: 85vh;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: large;
}
.profile-picture {
    margin-top: 110px;
    border-radius: 5000px;
    height: 30vh !important;
}

@media all and (max-width : 800px) {
    .profile-summary {
        margin-top: 10px;
        font-size: small;
        padding: 0 10px 0 10px;
    }
    /* .h3{
        font-size: small;
    } */
    .profile-picture{
        display: none;
        height: 30vh !important;
        border-radius: 2000px;
        margin-bottom: 5px;
    }
    .body {
        /* font-size: small; */
    }
}