.experience {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    /* margin: 100px; */
    padding: 20px;;
}

.experience-start{
    margin: 100px;
}

.company-data{
    display: inline-block;
}

.company-logo.company-name {
    display: inline-block;
}

.experience-items{
    order : 1;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 30px;;
}