.experience-start{
    margin: 40px 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    min-height: 80vh;
    text-align: center;

}

.experience-items-list {
    margin: 20px 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 75%;
}

.experience-time-section {    
    flex-grow: column;
    flex-grow: 2;
}

.experience-of {
    color: beige;
    margin: 10px;
    font-size: 50px;
}

.experience-time {
    margin-top: 20px;
    color: beige;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
}

.time-part {
    background-color: grey;
    margin: 5px;
    flex-grow: 0.1;
    color: black;
    border: 2px solid aqua;
    font-size: 60px;
    width: 30%;
    border-radius: 60vh;

}

.time-period {
    color: white;
}

.company-logo {
    width: 35%;
    height : 20%;
}


.experience-items{
    order : 1;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 250px;
    margin-top: 30px;
    margin: 30px;;
    padding: 0 10px 0 10px;
}

@media all and (max-width : 600px) {
    .experience-start{
        margin: 60px;
        padding: 0px;
        margin: 10px;
    }

    .experience-items {
        min-height: 300px;;
        padding: 0px;
    }

    .company-logo {
        width: 55%;
        height : 20%;
    }

}