.experience {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    /* margin: 100px; */
    padding: 20px;;
}

.company-logo {
    width: 35%;
    height : 20%;
}

.experience-start{
    margin: 100px;
}

.company-data{
    display: inline-block;
}

.company-name h3{
    margin: 5px 0px;
    
}

/* .company-logo.company-name {
    display: inline-block;
} */

.list-items {
    font-size: small;
    float: left;
    margin: 4px;
}

.experience-items{
    order : 1;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 200px;
    margin-top: 10px;
    /* margin: 30px;; */
}

@media all and (max-width : 600px) {
    .experience-start{
        margin: 60px;
    }

    .company-logo {
        width: 55%;
        height : 20%;
    }

}