.skills-component {
    min-height: 90vh;
    padding : 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

ul {
    list-style: none;
}

li {
    transition: transform .2s; /* Animation */
    display: inline;
    margin: 15px;
}

.skill-img:hover {
    -ms-transform: scale(2.0); /* IE 9 */
    -webkit-transform: scale(2.0); /* Safari 3-8 */
    transform: scale(2.0); 
  }

.skill-img {
    height: 40px;
}