.skills-component {
    display: flex;
    justify-content: center;
}

.skills-summary {
    height: 90vh;
    width: 75%;
    margin-top: 90px;
    display: flex;
    flex-direction: row;
}

.non-programming-skills {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.programming-skills {
    flex-grow: 1
}

ul {
    list-style: none;
}

li {
    transition: transform .2s; /* Animation */
    display: inline;
    margin: 15px;
}

.skill-img:hover {
    -ms-transform: scale(2.0); /* IE 9 */
    -webkit-transform: scale(2.0); /* Safari 3-8 */
    transform: scale(2.0); 
  }

.skill-img {
    height: 40px;
}