.navigation-menu {
    /* display: inline-block; */
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    /* margin: 15px; */
}

.menu-column-1 {
    display: inline-block;
    width: 50%;
    color: black;
}

.menu-column-2 {
    /* display: inline-block; */
    width: 50%;
    color: black;
    text-align: right;
}

.drawer-items {
    height: 100%;
    margin: 5px;
}
a {text-decoration: none;} 

.nav-links {
    /* fff */
    /* BDBDBD */
    color : #BDBDBD;
    font-weight: bold;
}

.nav-links:hover { color: #fff; }