.profile-link-images {
    height: 30px;
}

.footer-properties {
    list-style: none;
}

.footer-links, .footer-links-twitter {
    display: inline;
}



.profile-link-images:hover {
    -ms-transform: scale(1.7); /* IE 9 */
    -webkit-transform: scale(1.7); /* Safari 3-8 */
    transform: scale(1.7); 
  }

  @media all and (max-width : 600px) {
    .footer-links-twitter {
        display: none;
    }
  }