.background-image {
  /* background-image: url('/public/background-image.jpg'); */
  width: 100%;
  max-height: 100vh;
  /* position: static; */
  /* margin: auto; */
}
.profile {
  background-color: rgb(144, 129, 129);

}
.profile-body {
  background-color: #151A1D;
  min-height: 200vh;
}

.contact-component {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media all and (max-width : 600px) {
  .contact-component {
    display: none;
  }

  .profile-body {
    background-color: #151A1D;
    min-height: 330vh;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}